<header>
  <div class="nav">
    <div class="nav-links">
      <button mat-button routerLink="/">Home</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let category of categories" (click)="navigateToCategory(category.categoryName)">
          {{ category.categoryName }}
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu" aria-label="Categories dropdown selection menu">
        Categories <i class="fa fa-caret-down"></i>
      </button>
      <button mat-button routerLink="/about">About</button>
      <button mat-button routerLink="/contact">Contact</button>
    </div>
      <div class="search-container">
        <form (submit)="onSearch()">
          <input type="text" placeholder="Search.." name="search" [(ngModel)]="searchQuery" />
          <button type="submit">
            <span class="search-icon"></span>
          </button>
        </form>
      </div>
      <div class="cart-icon">
        <a [routerLink]="['/cart']">
          <i class="fa fa-shopping-cart"></i>
          <span *ngIf="cartItemCount > 0" class="cart-count">{{ cartItemCount }}</span>
        </a>
      </div>
  </div>
  <!--<h1>Searching: {{ searchQuery }}</h1>-->
</header>
