.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.2);
  height: 4rem;
  margin: 0rem;
}

.nav-links {
  display: flex;
}

.nav .search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-container form {
  display: flex;
  align-items: center;
  position: relative;
}

.nav input[type=text] {
  width: 100%;
  min-width: 18.5rem;
  height: 2.5rem;
  outline: none;
  border: none;
  background: #f1f1f1d9;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

.nav .search-container button {
  width: 3.5rem;
  height: 3rem;
  position: absolute;
  right: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.fa-shopping-cart {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  padding: 0.6rem;
  border-radius: 50%;
  margin: 0.3rem;
  color: black;
}

.fa-shopping-cart:hover {
  border-radius: 30%;
  background-color: #f1f1f1d9;
  transition: 0.2s ease;
}

.cart-count {
  background: #39adff;
  color: white;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 1px;
}

h1 {
  margin: 0 1rem;
  font-size: 2rem;
}
