.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.2);
  height: 4rem;
  margin: 0 0 1rem;
}

.nav-links {
  display: flex;
}

.nav-links a {
  display: flex;
  margin: 0 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #000;
}

.nav-links a:last-child {
  margin-right: 0;
}

.nav a:hover {
  background-color: #ebebeb;
  border-radius: 10px;
}

.nav .search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-container form {
  display: flex;
  align-items: center;
  position: relative;
}

.nav input[type=text] {
  width: 100%;
  min-width: 18.5rem;
  height: 2.5rem;
  outline: none;
  border: none;
  background: #f1f1f1d9;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

.nav .search-container button {
  width: 3.5rem;
  height: 3rem;
  position: absolute;
  right: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

h1 {
  margin: 0 2.5rem;
}
