* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  gap: 5rem;
}

.column {
  flex: 1;
  padding: 0rem;
}

img {
  margin-top: 1rem;
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}

p {
  font-size: 2rem;
  line-height: 1.8;
  color: gray;
}

@media (max-width: 768px) {
  p {
    font-size: 2rem; /* Smaller size for smaller screens */
  }
}

@media (max-width: 480px) {
  p {
    font-size: 1.5rem; /* Even smaller size for very small screens */
  }
}
