<mat-card *ngIf="product$ | async as product" class="product-card">
  <div class="product-container">
    <img mat-card-image [src]="product.productImgUrl" [alt]="product.productName" class="product-image">
    <div class="product-info">
      <mat-card-content>
        <a [routerLink]="['/', product.productCategory | lowercase]">
          <u>Shop for {{ product.productCategory }}</u>
        </a>
    </mat-card-content>
      <mat-card-header>
        <mat-card-title>{{ product.productName }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><b>Description:</b> {{ product.productDesc }}</p>
        <p><b>Price:</b> {{ product.price | currency }}</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="qty-input">
          <button class="qty-count qty-count--minus" type="button" (click)="decrementQuantity()">-</button>
          <input class="product-qty" type="number" [value]="quantity" readonly>
          <button class="qty-count qty-count--add" type="button" (click)="incrementQuantity(product.productQty)">+</button>
        </div>
        <app-add-to-cart-button [product]="product" [quantity]="quantity"></app-add-to-cart-button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
