<mat-card *ngIf="product$ | async as product" class="product-card">
  <div class="product-container">
    <img mat-card-image [src]="product.productImgUrl" [alt]="product.productName" class="product-image">
    <div class="product-info">
      <mat-card-header>
        <mat-card-title>{{ product.productName }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><b>Description:</b> {{ product.productDesc }}</p>
        <p><b>Price:</b> ${{ product.price }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>Add to Cart</button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
