// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();

$ecommerce-website-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($ecommerce-website-theme);
}

@include mat.color-variants-backwards-compatibility($ecommerce-website-theme);

button[mat-raised-button] {
  background-color: var(--blue);
  width: 10rem;
  height: 3rem;
  color: white;
  border-radius: 1.5rem;
  border: none;
  padding: 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

button[mat-raised-button]:hover {
  background-color: #0095ff;
}

button[disabled] mat-raised-button {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}

button[disabled] {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: #e0e0e0;
}
