/* You can add global styles to this file, and also import other style files */
@import "custom-theme.scss";

:root {
  --blue: #39adff;
}

body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; }

@media (max-width: 37.5rem) {
  h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}

button[mat-raised-button] {
  background-color: var(--blue);
  width: 10rem;
  height: 3rem;
  color: white;
  border-radius: 1.5rem;
  border: none;
  padding: 0.5rem;
  margin-left: 0.3rem;
}
