.mat-stepper-vertical {
  margin-top: 0.5rem;
}

.mat-mdc-form-field {
  margin-top: 1rem;
}

.stepper-container {
  width: 40rem;
  margin: 0 auto;
}

.mat-step-header {
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

mat-form-field {
  width: 80%;
}

.button-container {
  display: flex;
  justify-content: center;
}
