<div class="row">
  <div class="column left">
    <h1> Cart </h1>
    <mat-card *ngIf="cartList$ | async as cartList" class="product-card">
      <div *ngFor="let item of cartList">
        <div class="product-info">
          <mat-card-header>
            <mat-card-title-group>
              <img mat-card-image [src]="item.imageUrl" [alt]="item.name" class="product-image">
              <mat-card-title>{{ item.name }}</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <p><b>Price:</b> {{ item.price | currency }}</p>
          </mat-card-content>
          <mat-card-actions>
            <div class="qty-input">
              <button class="qty-count qty-count--minus" type="button" (click)="decrementQuantity(item)">-</button>
              <input class="product-qty" type="number" [value]="item.quantityInCart" readonly>
              <button class="qty-count qty-count--add" type="button" (click)="incrementQuantity(item, item.quantityAvailable)">+</button>
            </div>
          </mat-card-actions>
        </div>
        <mat-divider></mat-divider>
        <p>  </p>
      </div>
    </mat-card>
  </div>
  <div class="column right">
    <h2>Order Summary</h2>
    <p>Subtotal ({{ numItems }} items)</p>
    <p><b>Total:  </b>{{ totalCost | currency }}</p>
  </div>
</div>
