h1 {
  text-align: center;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.product-box {
  /*flex: 1 1 calc(10% - 1rem);*/
  width: 20rem; /* Set the width of each product box */
  height: 30rem; /* Set the height of each product box */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  padding: 4rem;
  text-align: center;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-box:hover {
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.15);
}

.product-box img {
  max-width: 20rem;
  height: 20rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}

.product-title {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #333;
}

.product-price {
  font-size: 1.1rem;
  color: #b12704;
  margin-bottom: 1rem;
}

.product-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ff3e00;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-button:hover {
  background-color: #d63200;
}
