<div class="contact_us_2">
  <div class="responsive-container-block big-container">
    <div class="blueBG"></div>

    <div class="responsive-container-block container">
      <form [formGroup]="FormData" (ngSubmit)="onSubmit()" class="form-box">
        <div class="container-block form-wrapper">
          <p class="text-blk contactus-head">
            Get in Touch
          </p>
          <p class="text-blk contactus-subhead">
            Input your information to contact us!
          </p>

          <div class="responsive-container-block">
            <!-- First Name -->
            <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="Please enter first name...">
                <mat-error *ngIf="FormData.get('firstName')?.hasError('required')">First name is required</mat-error>
                <mat-error *ngIf="FormData.get('firstName')?.hasError('pattern')">First name must be at least 1 letter</mat-error>
              </mat-form-field>
            </div>

            <!-- Last Name -->
            <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Please enter last name...">
                <mat-error *ngIf="FormData.get('lastName')?.hasError('required')">Last name is required</mat-error>
                <mat-error *ngIf="FormData.get('lastName')?.hasError('pattern')">Last name must be at least 1 letter</mat-error>
              </mat-form-field>
            </div>

            <!-- Email -->
            <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" placeholder="Please enter email...">
                <mat-error *ngIf="FormData.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="FormData.get('email')?.hasError('pattern')">Please enter a valid email</mat-error>
              </mat-form-field>
            </div>

            <!-- Phone Number -->
            <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phoneNumber" placeholder="Please enter phone number...">
                <mat-error *ngIf="FormData.get('phoneNumber')?.hasError('pattern')">Please enter a valid phone number</mat-error>
              </mat-form-field>
            </div>

            <!-- Message -->
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12">
              <mat-form-field appearance="fill" class="full-width" id="message">
                <mat-label>What Do You Have in Mind?</mat-label>
                <textarea matInput formControlName="message" placeholder="Please enter your message..."></textarea>
                <mat-error *ngIf="FormData.get('message')?.hasError('required')">Message is required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Submit Button -->
          <button mat-raised-button color="primary" type="submit" [disabled]="!FormData.valid">Submit</button>
        </div>

        <!-- Social Media Links -->
        <div class="social-media-links">
          <a href="https://www.twitter.com/" id="ix94i-2">
            <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-twitter.png" alt="Twitter">
          </a>
          <a href="https://www.facebook.com/">
            <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-facebook.png" alt="Facebook">
          </a>
          <a href="https://www.instagram.com/" id="izldf-2">
            <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png" alt="Instagram">
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
